<div class="line"></div>
<div class="beauty-box">
	<div class="img-example">
		<div class="mui-slider" id="myslider">
			<div class="mui-slider-group mui-slider-loop">
				<div class="mui-slider-item mui-slider-item-duplicate">
					<img src="img/31.jpg" width="100%"/>
				</div>
			    <!--第一个内容区容器-->
			    <div class="mui-slider-item">
			      <img src="img/26.jpg" width="100%" />
			    </div>
			    <!--第二个内容区-->
			    <div class="mui-slider-item">
			      <img src="img/27.jpg" width="100%" />
			    </div>
			     <!--第二个内容区-->
			    <div class="mui-slider-item">
			      <img src="img/28.jpg" width="100%" />
			    </div>
			     <!--第二个内容区-->
			    <div class="mui-slider-item">
			      <img src="img/29.jpg" width="100%" />
			    </div>
			     <!--第二个内容区-->
			    <div class="mui-slider-item">
			      <img src="img/30.jpg" width="100%" />
			    </div>
			     <!--第二个内容区-->
			    <div class="mui-slider-item">
			      <img src="img/31.jpg" width="100%" />
			    </div>
			    <div class="mui-slider-item mui-slider-item-duplicate">
					<img src="img/26.jpg" width="100%"/>
				</div>
			</div>
			<!----------轮播组件-------------------->
			<div class="mui-slider-indicator">
				<div class="mui-indicator mui-active"></div>
				<div class="mui-indicator"></div>
				<div class="mui-indicator"></div>
				<div class="mui-indicator"></div>
				<div class="mui-indicator"></div>
				<div class="mui-indicator"></div>
			</div>
			<!----------轮播组件-------------------->
		</div>
		<!-------------body------------------------>
		<div class="beauty-body mui-padded">
			<div class="beauty-top">
				<div class="beauty-top-title">美&nbsp;妆</div>
				<div class="beauty-top-sidetitle">
					曾经，我们于雨天相识，如今，我们于雨天相离。
				</div>
				<div class="beauty-top-text">
					窗外风起了，雨开始滴答滴答地落了，
					那时候的我总是矫情地投向你的怀抱中，
					或许这是一种爱的习惯，喜欢聆听你心房的声音，
					感受你手心的温度，在那些有你的阴冷的雨天里，
					心中似乎多了一丝暖意。
				</div>
			</div>
			<div class="beauty-goods">
				<ul>
					<li><img src="img/beauty01.jpg" width="100%" /></li>
					<li><img src="img/beauty02.jpg" width="100%" /></li>
				</ul>
				<ul>
					<li><img src="img/beauty03.jpg" width="100%" /></li>
					<li><img src="img/beauty04.jpg" width="100%" /></li>
				</ul>
			</div>
		</div>
		<!-------------body------------------------>
		<div class="line"></div>
	</div>
</div>
