<div class="close-box mui-padded">
	<div class="close-imgbox">
		<div class="mui-slider" id="myslider">
			<div class="mui-slider-group mui-slider-loop">
				<div class="mui-slider-item mui-slider-item-duplicate">
					<img src="img/close08.jpg" width="100%"/>
				</div>
			    <!--第一个内容区容器-->
			    <div class="mui-slider-item">
			      <img src="img/close01.jpg" width="100%" />
			    </div>
			    <!--第二个内容区-->
			    <div class="mui-slider-item">
			      <img src="img/close02.jpg" width="100%" />
			    </div>
			     <!--第二个内容区-->
			    <div class="mui-slider-item">
			      <img src="img/close03.jpg" width="100%" />
			    </div>
			     <!--第二个内容区-->
			    <div class="mui-slider-item">
			      <img src="img/close04.jpg" width="100%" />
			    </div>
			     <!--第二个内容区-->
			    <div class="mui-slider-item">
			      <img src="img/close05.jpg" width="100%" />
			    </div>
			     <!--第二个内容区-->
			    <div class="mui-slider-item">
			      <img src="img/close06.jpg" width="100%" />
			    </div>
			    <div class="mui-slider-item">
			      <img src="img/close07.jpg" width="100%" />
			    </div>
			    <div class="mui-slider-item">
			      <img src="img/close08.jpg" width="100%" />
			    </div>
			    <div class="mui-slider-item mui-slider-item-duplicate">
					<img src="img/close01.jpg" width="100%"/>
				</div>
			</div>
			<!----------轮播组件-------------------->
			<div class="mui-slider-indicator">
				<div class="mui-indicator mui-active"></div>
				<div class="mui-indicator"></div>
				<div class="mui-indicator"></div>
				<div class="mui-indicator"></div>
				<div class="mui-indicator"></div>
				<div class="mui-indicator"></div>
			</div>
	</div>
</div>
