<div class="line"></div>
<div class="family-box mui-padded">
	<div class="topimg">
		<img src="img/25.jpg" width="100%" />
	</div>
	<div class="family-line">
		<p class="family-line-text">家园Show Time</p>
	</div>
	<div class="family-show-box">
		<ul>
			<li>
				<img src="img/18.jpg" width="100%" />
				<div class="family-show-disc">
					我爱这世界，所以我甘心忍受这世间的风霜。
				</div>
			</li>
			<li>
				<img src="img/19.jpg" width="100%" />
				<div class="family-show-disc">
					我爱这世界，所以我甘心忍受这世间的风霜。
				</div>
			</li>
		</ul>
		<ul>
			<li>
				<img src="img/20.jpg" width="100%" />
				<div class="family-show-disc">
					我爱这世界，所以我甘心忍受这世间的风霜。
				</div>
			</li>
			<li>
				<img src="img/21.jpg" width="100%" />
				<div class="family-show-disc">
					我爱这世界，所以我甘心忍受这世间的风霜。
				</div>
			</li>
		</ul>
	</div>
	<!--------------专题2------------------->
	<div class="family-line">
		<p class="family-line-text">家园AMAT Show</p>
	</div>
	<div class="family-ad">
		<!-----------one-------------->
		<div class="family-ad-box">
			<div class="family-ad-text">
				<p class="title">只若初见</p>
				因那一瞥多少美丽的故事就此而起。
				也许，故事后面的情节不尽人意；
				也许，故事最后的结局可能悲凉。
				可是，若干年以后，回想起相遇的那一瞬，
				依然会心口一悸，百转千回。
			</div>
			<div class="family-ad-img">
				<img src="img/22.jpg" width="100%"/>
			</div>
		</div>
		<!-----------second-------------->
		<div class="family-ad-box">
			<div class="family-ad-img">
				<img src="img/23.jpg" width="100%"/>
			</div>
			<div class="family-ad-text">
				<p class="title">只若初见</p>
				因那一瞥多少美丽的故事就此而起。
				也许，故事后面的情节不尽人意；
				也许，故事最后的结局可能悲凉。
				可是，若干年以后，回想起相遇的那一瞬，
				依然会心口一悸，百转千回。
			</div>
		</div>
	</div>
	<!-------------------专题---------------------->
	<div class="family-line">
		<p class="family-line-text">我们的故事</p>
	</div>
	<div class="family-customer">
		<div class="family-customer-img">
			<img src="img/24.jpg" width="100%" />
		</div>
		<div class="family-customer-text">
			心尖尖上的必是那个刹那想错，求而不得的。
			最最落得不堪的常常是那个长相厮守的。
			所以， 女子聪明如斯，爱他，就一定离开他，
			让他一辈子把你放在心尖上。恨他，就守着他，
			让他一辈子就只看着你。
		</div>
	</div>
	<!-------------------专题---------------------->
	<!-------------------专题---------------------->
	<!-------------------专题---------------------->
	<div class="line"></div>
</div>
