<div class="line"></div>
<div class="mui-content-padded flower-box">
	<div class="mui-card">
	<!--页眉，放置标题-->
		<div class="mui-card-header">
			我爱这世界，所以我甘心忍受这世间的风霜。
		</div>
		<!--内容区-->
		<div class="mui-card-content">
			<img src="img/show01.jpg" width="100%"/>
		</div>
		<!--页脚，放置补充信息或支持的操作-->
		<div class="mui-card-footer">
			我想起那篇鲁迅先生的少年闰土，我觉得自己就和闰土一样在生活的重压下慢慢丧失灵敏的灵魂，现在我还没到麻木不仁的地步，可照这么下去那一天也不会太远了！
很多时候我真害怕，害怕自己变得麻木变得人云亦云。变成鲁迅先生口中活着却已经死了的人，我不知道该和谁说这些心里话，也许他们不乐意，也许他们一笑而过、嘲讽、不理解、以为我另类……
		</div>
	</div>
	<!---------------卡片一---------------->
	<div class="mui-card">
	<!--页眉，放置标题-->
		<div class="mui-card-header">
			我爱这世界，所以我甘心忍受这世间的风霜。
		</div>
		<!--内容区-->
		<div class="mui-card-content">
			<img src="img/show02.jpg" width="100%"/>
		</div>
		<!--页脚，放置补充信息或支持的操作-->
		<div class="mui-card-footer">
			我想起那篇鲁迅先生的少年闰土，我觉得自己就和闰土一样在生活的重压下慢慢丧失灵敏的灵魂，现在我还没到麻木不仁的地步，可照这么下去那一天也不会太远了！
很多时候我真害怕，害怕自己变得麻木变得人云亦云。变成鲁迅先生口中活着却已经死了的人，我不知道该和谁说这些心里话，也许他们不乐意，也许他们一笑而过、嘲讽、不理解、以为我另类……
		</div>
	</div>
	<!---------------卡片一---------------->
	<div class="mui-card">
	<!--页眉，放置标题-->
		<div class="mui-card-header">
			我爱这世界，所以我甘心忍受这世间的风霜。
		</div>
		<!--内容区-->
		<div class="mui-card-content">
			<img src="img/show03.jpg" width="100%"/>
		</div>
		<!--页脚，放置补充信息或支持的操作-->
		<div class="mui-card-footer">
			我想起那篇鲁迅先生的少年闰土，我觉得自己就和闰土一样在生活的重压下慢慢丧失灵敏的灵魂，现在我还没到麻木不仁的地步，可照这么下去那一天也不会太远了！
很多时候我真害怕，害怕自己变得麻木变得人云亦云。变成鲁迅先生口中活着却已经死了的人，我不知道该和谁说这些心里话，也许他们不乐意，也许他们一笑而过、嘲讽、不理解、以为我另类……
		</div>
	</div>
	<!---------------卡片一---------------->
	<div class="mui-card">
	<!--页眉，放置标题-->
		<div class="mui-card-header">
			我爱这世界，所以我甘心忍受这世间的风霜。
		</div>
		<!--内容区-->
		<div class="mui-card-content">
			<img src="img/show04.jpg" width="100%"/>
		</div>
		<!--页脚，放置补充信息或支持的操作-->
		<div class="mui-card-footer">
			我想起那篇鲁迅先生的少年闰土，我觉得自己就和闰土一样在生活的重压下慢慢丧失灵敏的灵魂，现在我还没到麻木不仁的地步，可照这么下去那一天也不会太远了！
很多时候我真害怕，害怕自己变得麻木变得人云亦云。变成鲁迅先生口中活着却已经死了的人，我不知道该和谁说这些心里话，也许他们不乐意，也许他们一笑而过、嘲讽、不理解、以为我另类……
		</div>
	</div>
	<!---------------卡片一---------------->
	<!---------------卡片一---------------->
	<!---------------卡片一---------------->
	<!---------------卡片一---------------->
	<div class="line"></div>
</div>
