<div class="line"></div>
<div class="gifts-box">
	<div class="gifts-box-top">
		<img src="img/gifts01.jpg" width="100%"/>
	</div>
	<div class="gifts-top-bg">
		<img src="img/gifts-top.png" width="100%"/>
	</div>
	<div class="gifts-list">
		<ul>
			<li><img src="img/gifts02.jpg" width="100%" /></li>
			<li><img src="img/gifts04.jpg" width="100%" /></li>
		</ul>
		<ul>
			<li><img src="img/gifts04.jpg" width="100%" /></li>
			<li><img src="img/gifts03.jpg" width="100%" /></li>
		</ul>
		<ul>
			<li><img src="img/gifts06.jpg" width="100%" /></li>
			<li><img src="img/gifts07.jpg" width="100%" /></li>
		</ul>
	</div>
	<div class="line"></div>
</div>
