<div class="container">
<div class="beauty-mainbox">
	<div class="beauty-box">
		<div class="beauty-title">
			<img src="img/logo.png" width="100%" height="100%"/>
		</div>
		<div class="imgbox one">
			<img src="img/26.jpg" width="100%" height="100%"/>
		</div>
		<div class="imgbox two">
			<div class="beauty-text">
						<p class="title">抬头总有阳光</p>
						这是一个故事，这也不是一个故事。
						谁都猜得了开始，却想不到结局。
						老掉牙的经历，却自带伤感动人的细节勾动着心扉，
						你不是局中人，你不懂她的疼。
					</div>
		</div>
		<div class="beauty-list">
			<ul>
				<li><img src="img/27.jpg" width="100%" height="100%"/></li>
				<li>
					<div class="beauty-text">
						<p class="title">抬头总有阳光</p>
						这是一个故事，这也不是一个故事。
						谁都猜的了开始，却想不到结局。
						老掉牙的经历，却自带伤感动人的细节勾动着心扉，
						你不是局中人，你不懂她的疼。
					</div>
				</li>
				<li><img src="img/31.jpg" width="100%" height="100%"/></li>
				<li><div class="beauty-text">
						<p class="title">抬头总有阳光</p>
						这是一个故事，这也不是一个故事。
						谁都猜的了开始，却想不到结局。
						老掉牙的经历，却自带伤感动人的细节勾动着心扉，
						你不是局中人，你不懂她的疼。
					</div>
				</li>
				<li><img src="img/30.jpg" width="100%" height="100%"/></li>
				<li><div class="beauty-text">
						<p class="title">抬头总有阳光</p>
						这是一个故事，这也不是一个故事。
						谁都猜的了开始，却想不到结局。
						老掉牙的经历，却自带伤感动人的细节勾动着心扉，
						你不是局中人，你不懂她的疼。
					</div>
				</li>
			</ul>
		</div>
		<div class="imgbox three">
			<img src="img/28.jpg" width="100%" height="100%"/>
		</div>
		<div class="imgbox four">
			<div class="beauty-text">
						<p class="title">抬头总有阳光</p>
						这是一个故事，这也不是一个故事。
						谁都猜的了开始，却想不到结局。
						老掉牙的经历，却自带伤感动人的细节勾动着心扉，
						你不是局中人，你不懂她的疼。
					</div>
		</div>
		<div class="imgbox five">
			<div class="beauty-text">
						<p class="title">抬头总有阳光</p>
						这是一个故事，这也不是一个故事。
						谁都猜的了开始，却想不到结局。
						老掉牙的经历，却自带伤感动人的细节勾动着心扉，
						你不是局中人，你不懂她的疼。
					</div>
		</div>
	</div>
</div>
</div>
<!--------------弹窗--------------->
	<div class="mask" id="imgdisc">
		<div class="imgdisc">
			<div class="closebtn"></div>
			<div class="imgbox">
				<img src="" width="100%" />
			</div>
			<div class="imgTextbox">
			<p class="title">抬头总有阳光</p>
			<p class="midtext">这是一个故事，这也不是一个故事。
						谁都猜的了开始，却想不到结局。</p>
			<div class="show-text">
				<p>老掉牙的经历，却自带伤感动人的细节勾动着心扉，
						你不是局中人，你不懂她的疼。</p>
				<div class="shopping-func">
					<div class="pull-left">
						<span class="glyphicon glyphicon-shopping-cart"></span>加入购物车
					</div>
					<div class="pull-left">
						<span class="glyphicon glyphicon-heart-empty"></span>收藏
					</div>
				</div>
				<div class="clearfix"></div>
				<p>价格：<span class="show-price">￥768</span></p>
			</div>
			</div>
		</div>
	</div>
